* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: lavender;
    font-family: sans-serif;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

img {
    width: 10em;
    height: 10em;
    margin: 2em;
}